<h3>Invoice ID: <%= @invoice.id %></h3><br>

<p>Status: <%= @invoice.status %></p><br>
<p>Created At: <%= @invoice.created_at.strftime("%-m/%d/%y") %></p><br>
<p>Customer Name: <%= @invoice.full_name %></p><br><br>

<h3>Items on This Invoice:</h3><br>

<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">

<p>Item Name: <%= invoice_item.item.name %></p><br>
<p>Quantity Ordered: <%= invoice_item.quantity %></p><br>
<p>Item Price: <%= invoice_item.unit_price %></p><br>
<p>Invoice Item Status: <%= invoice_item.status %></p><br><br>
<%@bds.each do |bds| %>
<% if bds.threshold <= invoice_item.quantity %>
      <p> <%= link_to "View Discount", "/merchants/#{@merchant.id}/bulkdiscounts/#{bds.id}"%> </p>
    <% else %>
    <% end %>
    <% end %>
  </div>


<%= form_with url: "/merchants/#{invoice_item.item.merchant_id}/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
      <%= form.select :status, [["packaged"], ["pending"], ["shipped"]] %>
      <%= form.submit "Update Item Status" %>
      <%= form.hidden_field :invoice_item_id, value: invoice_item.id %>
      <% end %>
    <br><br>
  <% end %>


<p>Total Revenue: $<%=@invoice.total_price %></p>
<p>Total Discounted Revenue: <%= number_to_currency(@invoice.total_price - @invoice.total_discount/100) %></p>